<head>
    <title>checq.me - Profile</title>
</head>

<body>
    <div class="wrapper">

        <%- include("../partials/navigation", { active: "profile" }) %>

        <div>
            <h1>My Profile</h1>
            <h1><%= user.name %> <%= user.surname %></h1>
            <h4>Email: <%= user.email %> </h4>
            <button type="button" class="btn btn-primary" id="btn_profile" onclick="toggle_form()">Show Editor</button>
            <div id="update_form"></div>
            <% if (user.githubId == "") { %> 
                <a href="/github">Connect GitHub Account</a>
            <% } else { %>
                Connected to GitHub!
            <% } %> 
        </div>
    </div>

    <script src="/js/ajax_profile.js"></script>
    <script src="/js/ejs.min.js"></script>
    <script src="/js/views.js"></script>
</body>