<form id="update_details">
    <div class="form-group">
        <label for="input_name">Name</label>
        <input type="text" class="form-control" id="input_name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="input_surname">Surname</label>
        <input type="text" class="form-control" id="input_surname" placeholder="Surname">
    </div>
    <button type="submit" class="btn btn-primary">Update Information</button>
</form>

<form id="update_password_form">
    <div class="form-group">
        <label for="input_password">Current Password</label>
        <input type="password" class="form-control" id="input_password" placeholder="Current Password">
    </div>
    <div class="form-group">
        <label for="input_password">New Password</label>
        <input type="password" class="form-control" id="input_newpassword" placeholder="New Password">
    </div>
    <div class="form-group">
        <label for="input_confpassword">Confirm New Password</label>
        <input type="password" class="form-control" id="input_confnewpassword" placeholder="Confirm New Password">
    </div>
    <button type="submit" class="btn btn-primary">Update Password</button>
</form>