<% if(typeof errors != 'undefined'){ %>
<%    console.log(errors);  %>
<%    errors.forEach(function(error) { %>
    <div>
      <%= error.msg %>
    </div>
    <% }); %> <% } %> <% if(success_msg != ''){ %>
    <div>
      <%= success_msg %>
    </div>
    <% } %> <% if(error_msg != ''){ %>
    <div>
      <%= error_msg %>
    </div>
    <% } %> <% if(error != ''){ %>
    <div>
      <%= error %>
    </div>
    <% } %>