<head>
  <title>checq.me - Dashboard</title>
</head>

<body>
  <div class="wrapper">

    <%- include("./partials/navigation", { active: "dashboard" }) %>

    <main>
      <div class="header">
        <h1 class="main-header"> Welcome Back, <%= user.name %>! </h1>

        <a class="button-text normal red" href="/user/logout">
          <img class="icon-s" src="assets/icons/buttons/logout.svg" alt="logout icon" />Logout
        </a>
      </div>
    </main>
  </div>
</body>