<!-- <h1>Final Project Homepage</h1>

<img src="assets/branding/logo_bg/bg_blue.svg" />
<div class="div">
    <a href="/user/login" class="badge badge-primary">Login</a>
    <a href="/user/signup" class="badge badge-primary">Register</a>
</div> -->

<div class="home-content">
  <div class="home-nav">
    <img height="53px" src="/assets/branding/logo/logo_white.svg" alt="checq.me logo">

    <span class="login-signup">
      <a href="/user/login" class="white">Sign in</a>

      <a href="/user/signup">
        <p class="bold primary">Sign up</p>
      </a>
    </span>
  </div>

  <p class="white main-title">
    A Collaborative, Open Source Tool <br> for Managing Mastery Checks
  </p>

  <div class="footer-home">
    <p class="small black">&copy; 2020 checq.me</p>

    <a href="http://github.com/martino-giorgi/checq.me" target="_blank" class="small black">
      GitHub repo
    </a>
  </div>
</div>
