<h1>Final Project Homepage</h1>

<img src="assets/branding/logo_bg/bg_blue.svg" />
<div class="div">
    <a href="/user/login" class="badge badge-primary">Login</a>
    <a href="/user/register" class="badge badge-primary">Register</a>
</div>