<div class="not-found-404">
  <img src="/assets/icons/misc/403.svg" alt="forbidden access icon">

  <h1 class="white">You are not allowed to view this page</h1>

  <a href="/dashboard">
    <p class="bold primary">Go Back Home</p>
  </a>
</div>