<div class="not-found-404">
  <img src="/assets/icons/misc/404.svg" alt="not fount icon">

  <h1 class="white">The page you are looking for does not exist</h1>

  <a href="/dashboard">
    <p class="bold primary">Go Back Home</p>
  </a>
</div>