<head>
    <title>checq.me - Profile</title>
</head>

<body>
    <div class="wrapper">

        <%- include("./partials/navigation", { active: "profile" }) %>

        <main>
            <h1>User: <%= user.name %> </h1>
            <h4>Email: <%= user.email %> </h4>
        </main>
    </div>
</body>