<head>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/moment@5.2.0/main.global.min.js"></script>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/css/main.min.css" />
</head>

<div class="wrapper">
  <%- include("./partials/navigation", {active: "scheduler"}) %>

  <main id="calendar-main">
    <div class="calendar-container">
      <div id="calendar"></div>
    </div>
  </main>

</div>

<script src="/js/ajax_schedule.js"></script>
<script>
  window.onload = init;
</script>
