<link rel="stylesheet" href="https://raw.githack.com/mymth/vanillajs-datepicker/v1.0.3/dist/css/datepicker-bs4.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous"></script>
<script src='https://cdn.jsdelivr.net/npm/moment-timezone@0.5.31/builds/moment-timezone-with-data.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/moment@5.2.0/main.global.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
  crossorigin="anonymous">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="/stylesheets/css/main.min.css" />

<div class="wrapper">
  <%- include("./partials/navigation", { active: "scheduler" }) %>

  <main id="calendar-main">
    <div class="calendar-container">
      <div id="calendar"></div>
    </div>

    <p hidden id="role"><%- user.role %></p>

    <div class="modal fade" id="newEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a busy day</h5>
          </div>

          <div class="modal-body">
            <form>
              <div class="row" id="picker"> 
                <div class="col">
                  <input autocomplete="off" type="text" required class="form-control" id="start" placeholder="Starting date" name="start_date">
                </div>
      
                <button type="button" class="btn btn-link">to</button>
      
                <div class="col">
                  <input autocomplete="off" type="text" required class="form-control" id="end" placeholder="Ending date" name="end_date">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <input autocomplete="off" type="time" required class="form-control" id="start-time">
                </div>

                <button type="button" class="btn btn-link">to</button>

                <div class="col">
                  <input autocomplete="off" type="time" required class="form-control" id="end-time">
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button onclick="addBusyDay()" type="button" class="btn btn-primary">Add Day</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<script src="https://raw.githack.com/mymth/vanillajs-datepicker/v1.0.3/dist/js/datepicker-full.js"></script>
<script src="/js/flash.min.js"></script>
<script src="/js/ajax_schedule.js"></script>
