<script src='https://cdn.jsdelivr.net/npm/moment-timezone@0.5.31/builds/moment-timezone-with-data.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/moment@5.2.0/main.global.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"
  integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ=="
  crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://raw.githack.com/mymth/vanillajs-datepicker/v1.0.3/dist/css/datepicker-bs4.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="/stylesheets/css/main.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
  crossorigin="anonymous">

<div class="wrapper">
  <%- include("./partials/navigation", { active: "scheduler" }) %>

  <main id="calendar-main">
    <div class="calendar-container">
      <div id="calendar"></div>
    </div>

    <p hidden id="role"><%- user.role %></p>

    <!-- Add Event modal -->
    <div class="modal fade" id="newEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a busy day</h5>
          </div>

          <div class="modal-body">
            <form>
              <div class="row" id="picker"> 
                <div class="col">
                  <input autocomplete="off" type="text" required class="form-control" id="start" placeholder="Starting date" name="start_date">
                </div>
      
                <button type="button" class="btn btn-link">to</button>
      
                <div class="col">
                  <input autocomplete="off" type="text" required class="form-control" id="end" placeholder="Ending date" name="end_date">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <input autocomplete="off" type="time" required class="form-control" id="start-time">
                </div>

                <button type="button" class="btn btn-link">to</button>

                <div class="col">
                  <input autocomplete="off" type="time" required class="form-control" id="end-time">
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button onclick="addBusyDay()" type="button" class="btn btn-primary">Add Day</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Mastery Modal -->
    <div class="modal fade" id="newMastery" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Add a mastery check</h5>
          </div>

          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Choose a classroom</label>
                <select class="form-control" id="exampleFormControlSelect1" onchange="getMasteries()"></select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect2">Choose a mastery check</label>
                <select class="form-control" id="exampleFormControlSelect2"></select>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button onclick="bookMastery()" type="button" class="btn btn-primary">Book Mastery Check</button>
          </div>
        </div>
      </div>
    </div>

    <!-- View event modal -->
    <div class="modal fade" id="viewEvent" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header" style="display:flex; justify-content: space-between; align-items: center">
            <h5 class="modal-title" id="modalCenterTitle">View Event</h5>
            <p hidden id="appointment_id_del"></p>
            <p hidden id="classroom_id_del"></p>
            <p hidden id="start_del"></p>
            <p hidden id="end_del"></p>
            <p hidden id="event_id_del"></p>

            <% if (user.role == 0 || user.role == 1) { %>
              <img onclick="delete_event()" id="delete-event" src="/assets/icons/buttons/delete.svg" alt="delete icon">
            <% } %> 
          </div>

          <!-- TODO: Finish + add delete button -->
          <div class="modal-body">
            <h3 id="event-name"></h3>
            <p id="ta-or-student-name"></p>
            <p id="duration"></p>
          </div>

          <div class="modal-footer">
            <button type="button" onclick="closeModal()" class="btn btn-secondary">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-backdrop fade" id="backdrop" style="display: none;"></div>
  </main>
</div>

<script src="https://raw.githack.com/mymth/vanillajs-datepicker/v1.0.3/dist/js/datepicker-full.js"></script>
<script src="/js/flash.min.js"></script>
<script src="/js/ajax_schedule.js"></script>
<script>
  window.onload = populateSelection();
</script>
