<body onload="init()">
    
    <h1>My Classrooms:</h1> 
    <button id="new_class_button">Create new classroom</button>

    <section id="new_class_form_section"></section>

    <section id="new_topic_form_section"></section>

    <section id="classes"></section>
    
    <hr>
    
    <script src="/js/ajax_classrooms.js"></script>
    <script src="/js/ejs.min.js"></script>
    <script src="/js/views.js"></script>
</body>