<div class="wrapper">

    <%- include("../partials/navigation", {active: 'manager'}) %>
    <div class="manager-container">
        <h1 class="main-header">Manager</h1>
        <a href="/manager/mastery" class="badge badge-primary">Mastery Check Manager</a>
    </div>

</div>