<div class="wrapper">
    <%- include("../partials/navigation", {active: 'manager'}) %>

    <section id="classroom_list"></section>

    <button onclick="toggle_show_form()" id="show_or_back">Add new class</button>

    <section id="form" class="hidden"></section>
</div>

<script src="/js/flash.min.js"></script>
<script src="js/ajax_manager.js"></script>
<script src="/js/ejs.min.js"></script>
<script src="/js/views.js"></script>
<script>
    window.onload = init;
</script>