<div class="wrapper">

    <%- include("../partials/navigation", {active: 'manager'}) %>

    <main>
        <div class="header">
            <h1 class="main-header">Manager</h1>
        </div>
    </main>
</div>