<h1>Add a new topic for class: <%=name %></h1>
<form action="", method="POST">
    <input required type="text", name="name" placeholder="Topic name">
    <input required type="text", name="description" placeholder="Topic descrition">
    <input required type="submit">
</form>