<h1>Add a new Class</h1>
<form action="/classroom/new", method="POST">
    <input required type="text", name="name" placeholder="Classroom name">
    <input required type="text", name="description" placeholder="Classroom descrition">
    <input required type="submit">
</form>