<h1>Add a new Class</h1>
<form id="new_class_form" action="/manager/classroom/new" , method="POST">
    <input id="input_name" required type="text" , name="name" placeholder="Classroom name">
    <input id="input_desc" required type="text" , name="description" placeholder="Classroom descrition">
    <input required type="submit">
</form>