<link rel="stylesheet" href="/stylesheets/css/flash.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<div class="wrapper">
    <%- include("../../partials/navigation", {active: 'manager'}) %>
    <main>
        <h1>Classroom Manager</h1>
        <section id="class_options">
            <button onclick="add()" id="add_btn" type="button" class="btn btn-primary">Add Mastery Check</button>
            <button onclick="toggle_show_ta_form()">Assign a TA</button>
            <button onclick="toggle_show_prof_form()">Add a professor</button>
            <button onclick="toggle_show_topic_form()">Add Topic</button>
        </section>
        <div id="add" class="container"></div>
        <section id="ta_form"></section>
        <section id="prof_form"></section>
        <section id="topic_form"></section>
        <section id="class_info"></section>
        <div id="list" class="container"></div>

    </main>
</div>

<script src="/js/ajax_mastery.js"></script>
<script src="/js/flash.min.js"></script>
<script src="/js/ajax_classroom_manager.js"></script>
<script src="/js/ajax_topic.js"></script>
<script src="/js/ejs.min.js"></script>
<script src="/js/views.js"></script>
<script>
    window.onload = init;
</script>