<%- include("../../partials/navigation", {active: 'manager'}) %>
<h1>Classroom Manager:</h1>
<h2> </h2>
<script src="/js/ajax_classrooms.js"></script>
<script src="/js/ajax_topic.js"></script>
<script src="/js/ejs.min.js"></script>
<script src="/js/views.js"></script>