<link rel="stylesheet" href="/stylesheets/css/flash.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<div class="wrapper">

    <%- include("../../partials/navigation", {active: 'manager'}) %>
    <main>
        <h1>Classroom Manager</h1>
        <div id="sub_navbar">
        </div>
        <section id="class_options">
            <button onclick="add()" id="add_btn" type="button" class="btn btn-primary">Add Mastery Check</button>
            <button onclick="toggle_show_topic_form()">Add Topic</button>
            <button type="button" onClick="render_user_modal()" class="btn btn-primary" data-toggle="modal"
                data-target="#user-modal">
                Show User List
            </button>

        </section>
        <div id="add" class="container"></div>

        <!-- User list modal -->
        <div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="user-modal-label"
            aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="user-modal-label">User list</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="user-modal-body" class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <section id="topic_form"></section>
        <section id="class_info"></section>
        <div id="list" class="container"></div>

    </main>
</div>

<script src="/js/ajax_mastery.js"></script>
<script src="/js/flash.min.js"></script>
<script src="/js/ajax_classroom_manager.js"></script>
<script src="/js/ejs.min.js"></script>
<script src="/js/views.js"></script>
<script>
    window.onload = init_manager;
</script>