<link rel="stylesheet" href="/stylesheets/css/flash.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<div class="wrapper">
    <%- include("../../partials/navigation", {active: 'manager'}) %>
    <main>
        <h1>Classroom Manager</h1>
        <section id="class_info"></section>
    </main>
</div>

<script src="/js/flash.min.js"></script>
<script src="/js/ajax_classroom_manager.js"></script>
<script src="/js/ajax_topic.js"></script>
<script src="/js/ejs.min.js"></script>
<script src="/js/views.js"></script>
<script>
    window.onload = init;
</script>