<h1>Add a new topic for class</h1>
<form id="new_topic_form" action="/topic" method="POST">
    <input id="topic_name" required type="text" name="name" placeholder="Topic name">
    <input id="topic_description" required type="text" name="description" placeholder="Topic descrition">
    <input id="classroom_id" type="hidden" name="classroom" value="<%=id%>">
    <input type="submit">
</form>