<div class="container">
    <div class=" container mt-5">
        <form id="create_form">
            <div class="form-group">
                <label for="input_name">Topic name</label>
                <input type="text" placeholder="Topic Name" name="input_name" class="form-control" id="input_name"
                    value="<%= current.name ? current.name : ""%>" required />
            </div>
            <div class="form-group">
                <label for="input_description">Topic description</label>
                <input type="text" placeholder="Topic Description" name="input_description" class="form-control"
                    id="input_description" value="<%= current.description ? current.description : ""%>" required />
            </div>
        </form>
        <% if(current.name) {%>
        <button onclick="edit_topic()" class="btn btn-primary">
            Edit
            Topic
        </button>
        <% } else {%>
        <button onclick="create_topic()" class="btn btn-primary">
            Create
            Topic
        </button>
        <% }%>
    </div>
    <script src="/js/ajax_mastery.js"></script>
    <script src="/js/ajax_question.js"></script>