@import "./partials/dashboard";
@import "./partials/vars";
@import "./partials/mastery";
@import "./partials/classroom";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.black {
  color: $black;
}

.white {
  color: $white;
}

.gray {
  color: $gray;
}

.primary {
  color: $primary;
}

.red {
  color: $red;
}

// Text Styles

// ===============================
//             TITLES
// ===============================

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
}

.normal {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
}

.small {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
}


// Main Components

// ===============================
//             ICONS
// ===============================

.logo-s {
  height: 90px;
  padding: 26px 26px 36px 26px;
}

.icon-xs {
  height: 14px;
  width: 14px;
}

.icon-s {
  height: 24px;
  width: 24px;
}

.icon-xl {
  height: 98px;
  width: 98px
}


// ===============================
//            LAYOUTS
// ===============================

.column {
  display: flex;
  flex-flow: column;
}

.hidden {
  display: none;
}
