<body onload="init()">
    <div class="wrapper">
        <%- include("../../partials/navigation", { active: "manager" }) %>
        <div>
            <h1>Mastery Manager</h1>
            <div id="list" class="container"></div>
            <div id="add" class="container"></div>
            <button onclick="add()" id="add_btn" type="button" class="btn btn-primary">Add Mastery Check</button>
        </div>
    </div>
    <script src="/js/ajax_mastery.js"></script>
    <script src="/js/ejs.min.js"></script>
    <script src="/js/views.js"></script>
</body>