<button type="button" onClick="render_user_modal()" class="btn btn-primary" data-toggle="modal"
    data-target="#mastery-add-modal">
    Add Mastery Check

</button>

<!-- Mastery Add modal -->
<div class="modal fade" id="mastery-add-modal" tabindex="-1" role="dialog" aria-labelledby="mastery-add-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mastery-add-modal-label">Add Mastery Check</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="mastery-add-modal-body" class="modal-body">
            </div>
        </div>
    </div>
</div>