.wrapper {
    display: flex;
    flex-flow: row;
}

nav {
    display: flex;
    flex-flow: column;

    height: 100vh;
    background-color: #374293;

    .logo-s {
        height: 90px;
        padding: 26px 26px 36px 26px;
    }

    .nav-button {
        display: flex;
        flex-flow: row;
        
        padding-left: 26px;
        padding-right: 26px;
        padding-bottom: 11px;

        color: #ffffff;
    }

    a:hover {
        cursor: pointer;
    }
}

main {
    display: flex;
}
