@import "./vars";

#classroom-table {
  tbody {
    td {
      .btn-with-icn {
        background-color: $white;

        &:hover {
          text-decoration: underline;
        }
      }

    }

    #manager-name {
      width: 75% !important;
    }
    
    .add-class {
      box-shadow: none;

      .btn-with-icn {
        padding: 12px 14px 12px 12px;
        border-radius: 8px;
        
        color: $white;
        background-color: $primary;
        cursor: pointer;

        img {
          filter: invert(1);
        }

        p {
          transform: translateY(1.5px);
        }

        &:hover, &:focus {
          text-decoration: none;
          background-color: $primary_dark;
        }
      }
    }
  }
}

#form {
  margin: 26px;

  .btn-with-icn {
    margin-bottom: 26px;
    padding: 10px;
    border-radius: 8px;
    
    background-color: $gray;
    color: $white;
    cursor: pointer;

    p {
      margin: 0;
    }

    &:hover, &:focus {
      background-color: $gray_dark;
    }
  }
}

.btn-primary.delete_btn {
  background-color: $red !important;
  border-color: $red_dark !important;

  &:hover {
    background-color: $red_dark !important;
  }
}



.datepicker-cell.selected {
  background-color: $primary !important;

  &:hover {
    background-color: $primary_dark !important;
  }
}

.swag_collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active_collapsable,
.swag_collapsible:hover {
  background-color: #555;
}

.swag_collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active_collapsable:after {
  content: "\2212";
}

.swag_collapsible_content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
