@import "./vars";

#classroom-table {
  tbody {
    td {
      .invite-link {
        display: flex;
        flex-flow: row;

        align-items: center;

        img {
          margin-right: 12px;
        }
      }

      &:nth-of-type(2) {
        width: 80% !important;
      }
    }
  }
}

.swag_collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active_collapsable,
.swag_collapsible:hover {
  background-color: #555;
}

.swag_collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active_collapsable:after {
  content: "\2212";
}

.swag_collapsible_content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
