@import "./vars";

.secondary-nav {
  margin: 26px 26px 26px 26px;
  padding-right: 2px;

  border-right: 1px solid $gray;

  .active {
    filter: brightness(0);
  }

  .settings {
    display: flex;
    flex-direction: row;
  
    align-items: center;

    margin-bottom: 20px;
    margin-right: 10px;
  
    p {
      margin: 0 16px 0 16px;
    }

    &:hover {
      filter: brightness(0);
      text-decoration: none;

      cursor: pointer;
    }
  }
}
