@import './vars';

.calendar-container {
    margin: 26px;
}

.btn-primary {
   background-color: $primary !important;
   border-color: $primary_dark !important;
}

.btn-primary:focus {
    box-shadow: none !important;
    background-color: $primary_dark !important;
}

.btn-primary:hover {
    background-color: $primary_dark !important;
}