// ===============================
//             COLORS
// ===============================

$black: #000000;
$white: #ffffff;
$gray: #A6A6A6;
$gray_dark: #959595;

$primary: #374293;
$primary_dark: #2D377B;
$red: #F14141;
$red_dark: #b53030;
