<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/xml/xml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/python/python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/clike/clike.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/xml/xml.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/theme/dracula.min.css" rel="stylesheet">

<div class="wrapper">
    <%- include("../partials/navigation", {active: 'manager'}) %>
    <div id="question_area">
        <h1>Get prepared by answering those questions!</h1>
        <textarea id="text_area"></textarea>
        <section id="options_section">

        </section>
        <button id="next_question">Next Question</button>
        <button id="check_answer">Check Answer</button>
        <section id="answer_result"></section>
    </div>
</div>

<script src="/js/ejs.min.js"></script>
<script src="/js/views.js"></script>
<script src="/js/ajax_answer_question.js"></script>
<script>
    window.onload = init_answer_question;
</script>

