<nav class="nav nav-pills nav-justified">
    <a class="nav-link active" id="a_nav_mastery" href="<%='/manager/classroom?id='+c_id%>">Mastery Checks</a>
    <a class="nav-link" id="a_nav_students" href="<%='/manager/classroom/students?id='+c_id%>">Students</a>
    <a class="nav-link" id="a_nav_tas" href="<%='/manager/classroom/tas?id='+c_id%>">TAs</a>
</nav>