
  <%partecipants.forEach(usr => { %>

      <button class="swag_collapsible"><%=usr.name%></button>
      <div class="swag_collapsible_content">
        <p>
          <button onclick="" >Remove student</button>
          <button onclick="" >Message</button>
        </p>
      </div>

  <%})%>

